<footer class="page-footer font-small bg-info pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text">siga-me nas redes sociais </h4>
            </div>
        </div>


   

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="Social-network">
                <li>
                    <a href="https://www.linkedin.com/in/gabriel-aronne-3293b2129/" target="_blank"
                        class="icoLinkedin cl-black">

                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/gabrielaronne/" target="_blank"
                        class="icoInstagram cl-black">

                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/gabrielaronne" target="_blank"
                        class="icoGithub cl-black">

                        <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> 2021 copyright: </span>
    <a class="text-light" target="_blank" href="https://www.generation.org/">https://www.generation.org/</a>
    
</div>
</footer>